@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
// 	src:
// 		local('Shantell Sans'),
// 		url(/fonts/ShantellSans.ttf) format('ttf');
// 	font-family: 'Shantell Sans';
// }

:root {
	@function hsl($h, $s, $l) {
		@return #{$h} #{$s} #{$l};
	}

	@mixin color-values($name, $h, $s, $l) {
		--color-values-#{$name}: #{hsl($h, $s, $l)};
	}

	color-scheme: dark;

	--color-surface-700: hsl(40, 4%, 86%);
	@include color-values(surface-700, 40, 4%, 86%);
	--color-surface-800: hsl(34, 6%, 76%);
	@include color-values(surface-800, 34, 6%, 76%);
	--color-surface-900: hsl(38, 16%, 24%);
	@include color-values(surface-900, 38, 16%, 24%);
	--color-surface-950: hsl(46, 100%, 3%);
	@include color-values(surface-950, 46, 100%, 3%);

	--color-primary-500: hsl(17, 83%, 56%);
	@include color-values(primary-500, 17, 83%, 56%);
	--color-primary-700: hsl(25, 85%, 8%);
	@include color-values(primary-700, 25, 85%, 8%);

	@media (prefers-contrast: high) {
		--color-primary-500: hsl(17, 83%, 86%);
		@include color-values(primary-500, 17, 83%, 86%);
	}

	@media (prefers-color-scheme: light) {
		color-scheme: light;

		--color-surface-700: hsl(40, 4%, 14%);
		@include color-values(surface-700, 40, 4%, 14%);
		--color-surface-800: hsl(34, 6%, 24%);
		@include color-values(surface-800, 34, 6%, 24%);
		--color-surface-900: hsl(38, 16%, 76%);
		@include color-values(surface-900, 38, 16%, 76%);
		--color-surface-950: hsl(46, 100%, 97%);
		@include color-values(surface-950, 46, 100%, 97%);

		--color-primary-500: hsl(17, 83%, 40%);
		@include color-values(primary-500, 17, 83%, 40%);
		--color-primary-700: hsl(26, 94%, 79%);
		@include color-values(primary-700, 26, 94%, 93%);

		@media (prefers-contrast: high) {
			--color-primary-500: hsl(17, 83%, 14%);
			@include color-values(primary-500, 17, 83%, 14%);
		}
	}

	@supports (width: 100dvw) {
		--vw: 100dvw;
	}
	@supports not (width: 100dvw) {
		--vw: 100vw;
	}
	@supports (height: 100dvh) {
		--vh: 100dvh;
	}
	@supports not (height: 100dvh) {
		--vh: 100vh;
	}
}

:where(html) {
	font-size: 100%;
	line-height: 1;

	@supports (tab-size: 4) {
		tab-size: 4;
	}
	@supports not (tab-size: 4) {
		-moz-tab-size: 4;
		-o-tab-size: 4;
	}
	@supports (text-size-adjust: 100%) {
		text-size-adjust: 100%;
	}
	@supports not (text-size-adjust: 100%) {
		-webkit-text-size-adjust: 100%;
	}
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <bounce>: Use a value from -100 to 100
// <informality>: Use a value from 0 to 100
// <spacing>: Use a value from 0 to 100
:where(body) {
	font-style: normal;
	line-height: inherit;
	font-optical-sizing: auto;
	font-variation-settings:
		'BNCE' 0,
		'INFM' 0,
		'SPAC' 0;
}

:where(img) {
	vertical-align: middle;

	shape-margin: 0.75rem;
	background-size: cover;

	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
	font-style: italic;
	font-weight: 900;
}

:where(table, thead, tbody, tfoot, tr, th, td) {
	all: unset;
}

:target {
	scroll-margin-block: theme('size.24');
}

:focus {
	outline-color: transparent;
}

:focus-visible {
	$color-mix: color-mix(
		in hsl increasing hue,
		var(--color-primary-500) 50%,
		var(--color-surface-700)
	);

	outline: 0.125rem solid var(--color-primary-500);
	border-radius: theme('borderRadius.sm');
	background-color: hsl(var(--color-values-primary-500) / 0.125);

	@supports (#{$color-mix}) {
		color: #{$color-mix};
	}
}

::selection {
	background-color: hsl(var(--color-values-primary-500) / 0.5);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	:target:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

// custom classes

.first-letter-2::first-letter {
	initial-letter: 2;
}

.svg {
	&--45 {
		&:hover,
		&:focus-visible,
		a:focus-visible {
			svg,
			~ svg {
				transform: scale(1.125) translate3d(0.125rem, -0.125rem, 0);
			}
		}
	}
}

@supports (backdrop-filter: none) {
	body > .backdrop-blur-4xl {
		backdrop-filter: none;
		box-shadow: 0 0 0 theme('size.4') var(--color-surface-950);

		~ rect {
			filter: blur(theme('backdropBlur.4xl'));
		}
	}
}
