@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src:
		local('Shantell Sans'),
		url(/fonts/ShantellSans.ttf) format('ttf');
	font-family: 'Shantell Sans';
}

@function hsl($h, $s, $l) {
	@return unquote('#{$h} #{$s} #{$l}');
}

@mixin color-values($name, $h, $s, $l) {
	--color-values-#{$name}: #{hsl($h, $s, $l)};
}

:root {
	--color-surface-700: hsl(40, 4%, 86%);
	@include color-values(surface-700, 40, 4%, 86%);
	--color-surface-800: hsl(34, 6%, 76%);
	@include color-values(surface-800, 34, 6%, 76%);
	--color-surface-900: hsl(38, 16%, 24%);
	@include color-values(surface-900, 38, 16%, 24%);
	--color-surface-950: hsl(46, 100%, 3%);
	@include color-values(surface-950, 46, 100%, 3%);

	--color-primary-500: hsl(17, 83%, 56%);
	@include color-values(primary-500, 17, 83%, 56%);
	--color-primary-700: hsl(25, 85%, 8%);
	@include color-values(primary-700, 25, 85%, 8%);

	@media (prefers-contrast: high) {
		--color-primary-500: hsl(17, 83%, 86%);
		@include color-values(primary-500, 17, 83%, 86%);
	}

	@media (prefers-color-scheme: light) {
		--color-surface-700: hsl(40, 4%, 14%);
		@include color-values(surface-700, 40, 4%, 14%);
		--color-surface-800: hsl(34, 6%, 24%);
		@include color-values(surface-800, 34, 6%, 24%);
		--color-surface-900: hsl(38, 16%, 76%);
		@include color-values(surface-900, 38, 16%, 76%);
		--color-surface-950: hsl(46, 100%, 97%);
		@include color-values(surface-950, 46, 100%, 97%);

		--color-primary-500: hsl(17, 83%, 40%);
		@include color-values(primary-500, 17, 83%, 40%);
		--color-primary-700: hsl(26, 94%, 79%);
		@include color-values(primary-700, 26, 94%, 93%);

		@media (prefers-contrast: high) {
			--color-primary-500: hsl(17, 83%, 14%);
			@include color-values(primary-500, 17, 83%, 14%);
		}
	}
}
:where(img) {
	vertical-align: middle;

	shape-margin: 0.75rem;
	background-size: cover;

	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
	font-style: italic;
	font-weight: 900;
}

:where(html) {
	font-size: 100%;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	color-scheme: dark light;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.first-letter-2::first-letter {
	initial-letter: 2;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <bounce>: Use a value from -100 to 100
// <informality>: Use a value from 0 to 100
// <spacing>: Use a value from 0 to 100
:where(body) {
	font-style: normal;
	line-height: inherit;
	font-optical-sizing: auto;
	font-variation-settings:
		'BNCE' 0,
		'INFM' 0,
		'SPAC' 0;
}

input,
input:matches([type='password'], [type='search']) {
	-webkit-appearance: textfield;
	background-color: -apple-system-control-background;
	color: text;
}

:target {
	scroll-margin-block: theme('size.24');
}

:focus {
	outline-color: transparent;
}

:focus-visible {
	outline: 2px solid var(--color-primary-500);
	outline-offset: -2px;
	border-radius: inherit;
}
// prefer hight contrast
@media (prefers-contrast: high) {
	:focus {
		outline: 2px solid red;
	}
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	:target:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
